<div class="container">
    <form>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"  class="form-control" id="name" placeholder="Enter Name" name="name"  [(ngModel)]="name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group pb-2">
                    <label for="age">Age</label>
                    <input type="number"  class="form-control" id="age" placeholder="Enter Age" name="age" [(ngModel)]="age">
                    </div>
            </div>      
        </div>
        <input type="hidden" name="id"  [(ngModel)]="id">
        <button type="button" class="btn btn-primary" (click)="onAddStudent()">Submit</button>
      </form>
</div>